header {
    background: linear-gradient(var(--yellow) 50%, transparent);
    justify-content: center;
    padding: 5px 0;
    padding-bottom: 136px;
    #menu {
        background: none;
        border: none;
        outline: none;
        margin: 5px 10px;
        cursor: pointer;
    }
    #logo {
        position: fixed;
        left: 0;
        top: 50px;
        z-index: 3;
        width: 300px;
        height: 100px;
        justify-content: center;
        align-items: center;
        border-bottom: var(--grayEA) 1px solid;
        transform: translateX(-300px) rotate(-1440deg);
        transition: 1s;
        opacity: 0;
        display: flex;
    }
    .container {
        flex-direction: column;
        form {
            position: relative;
            input {
                border: none;
                border-radius: 25px;
                box-shadow: 0 1px 2px var(--black2);
                font-size: 15px;
                width: calc(100vw - 112px);
                height: 36px;
                padding-left: 32px;
                &:placeholder {
                    color: var(--grayC);
                }
            }
            img {
                position: absolute;
                left: 9px;
                top: 10px;
            }
        }
        .ml-cars {
            align-items: center;
            display: none;
        }
        .btn-cart {        
            padding: 6px;
            margin-left: 11px;
        }
        nav {
            border-top: var(--black2);
            .zipcode {
                align-items: center;
                background: none;
                border: none;
                outline: none;
                width: 100%;
                justify-content: space-between;
                padding: 8px 0;
                > div {
                    align-items: center;
                    > :last-child {
                        margin-left: 4px;
                    }
                }
            }
            #menu-mobile {
                position: fixed;
                top: var(--topBar);
                left: 0;
                background-color: var(--white);
                width: 300px;
                height: calc(100vh - var(--topBar));
                z-index: 2;
                flex-direction: column;
                padding-top: 100px;
                transform: translateX(-300px);
                transition: 1s;
                opacity: 0;
                ul {
                    margin: 0;
                    padding: 0;
                    flex-direction: column;
                    li {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        a {
                            padding: 15px;
                            text-decoration: none;
                            color: var(--gray3);
                        }
                    }
                    &:first-child {
                        
                    }
                    &:last-child {
                        border-top: var(--grayEA) 1px solid;
                        li {
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.menu-opened {
    #overlay, #logo {
        display: flex;
    }
    #menu-mobile {
        transform: translateX(0)!important;
        opacity: 1!important;
    }
    #logo {
        transform: translateX(0) rotate(0deg)!important;
        opacity: 1;
    }
}

.container {
    width: 100%;
}

@media(min-width: 1190px) {
    header {
        padding: 8px 0;
        #menu {
            display: none;
        }
        #logo {
            display: flex;
        }
    }
    .container {
        width: 1190px;
    }
}